<div class="w-screen h-screen flex justify-between items-center bg-indigo-950">
  <div class="h-screen w-[20%] flex justify-center">
    <app-sidebar class="w-full h-full"></app-sidebar>
  </div>
  <div class="h-[98%] w-[79%] mr-2 flex justify-center">
    <div
      class="w-full h-full flex justify-center items-center bg-[#f1f0f0] rounded-[20px]"
    >
      <div class="flex justify-center flex-col items-center h-[95%] w-[90%]">
        <div class="h-[93%] w-[100%] mt-12 flex justify-between">
          <div class="h-[100%] w-[28.5%] flex flex-col">
            <div class="h-[5%] w-[100%] flex items-center">
              <div class="text-[#2e2c34] text-2 font-bold font-['Montserrat']">
                Inbox
              </div>
              <div
                class="bg-red-400 text-white h-5 ml-3 w-14 flex items-center justify-center rounded-lg"
              >
                <div class="text-[10px] font-semibold pr-1 font-['Montserrat']">
                  5
                </div>
                <div class="text-[10px] font-semibold font-['Montserrat']">
                  New
                </div>
              </div>
            </div>
            <div class="h-[15%] w-[100%] flex items-center">
              <div
                class="w-full h-11 pl-[15px] bg-neutral-50 rounded-md border border-[#e7e7e7] inline-flex items-center pr-5"
              >
                <input
                  type="text"
                  placeholder="Search for Inbox"
                  class="w-[187px] h-[13px] text-[#b5b5b5] text-xs font-medium font-['Montserrat'] bg-neutral-50 focus:outline-none"
                />
                <div class="ml-auto">
                  <img
                    src="../../../assets/search-normal.svg"
                    alt="Search Icon"
                    class="w-[18px] h-[18px]"
                  />
                </div>
              </div>
            </div>
            <div
              class="text-[10px] text-[gray-700] font-medium font-['Montserrat']"
            >
              All Inbox
            </div>

            <div
              class="h-[11%] w-[100%] mt-2 bg-white rounded-md flex justify-center items-center"
            >
              <div class="w-[50px] h-[50px] flex items-center justify-center">
                <img
                  class="w-12 h-12 top-0 rounded-[30px]"
                  src="../../../assets/People.png"
                />
              </div>
              <div class="w-[65%] h-[50px]">
                <div
                  class="w-[100%] h-[30%] pl-3 text-[#000000] text-xs flex items-center font-bold font-['Montserrat']"
                >
                  Nicholas kyereboah
                </div>
                <div
                  class="w-[100%] h-[70%] pl-3 text-[#84818a] text-xs flex items-center font-medium font-['Montserrat']"
                >
                  Lorem ipsum dolor sit amet, consectetur
                </div>
              </div>
              <!-- <div
                class="w-[60%] h-[50px] text-[#84818a] text-xs flex flex-col justify-between items-center p-4 border border-red-500 font-medium font-['Montserrat']"
              >
              </div> -->
              <div
                class="w-[50px] h-[50px] flex flex-col justify-between itmes center"
              >
                <span class="text-gray-500 text-[10px]">12:45 PM</span>
                <div
                  class="w-4 h-4 bg-blue-500 rounded-full flex items-center ml-4 justify-center text-white text-[8px]"
                >
                  5
                </div>
              </div>
            </div>
          </div>
          <div class="h-[100%] w-[70%]">
            <app-chat></app-chat>
          </div>
        </div>
        <!-- <div class="h-[10%] w-[100%] flex items-center">
          <div
            class="text-[#2e2c34] text-2xl font-semibold font-['Montserrat'] pl-4"
          >
            Inbox
          </div>
        </div>
         second pannel 
        <div
          class="border-b border-[#e7e7e7] h-[20%] w-[100%] justify-start flex flex-col"
        >
           top 
          <div class="h-[50%] w-[100%] flex items-center justify-between">
            <div class="h-[100%] w-[50%] flex items-center">
              <div
                class="w-[254px] h-11 pl-[22px] pr-[14.65px] py-[13px] bg-neutral-50 rounded border border-[#e7e7e7] inline-flex items-center gap-[12.35px]"
              >
                <div
                  class="w-[18px] h-[18px] inline-flex items-center justify-center"
                >
                  <div class="w-[18px] h-[18px] relative">
                    <img src="../../../assets/search-normal.svg" alt="" />
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Search for Inbox"
                  class="w-[187px] h-[13px] text-[#b5b5b5] text-xs font-medium font-['Montserrat'] bg-neutral-50 focus:outline-none"
                />
              </div>
            </div>
            <div class="h-[100%] w-[50%] flex items-center justify-end">
              dropdown 
              <div
                class="w-[152px] h-11 pl-[18px] pr-[13px] pt-3.5 pb-[11px] rounded border border-[#e7e7e7] inline-flex items-center justify-between"
              >
                <select
                  class="w-full h-full text-[#84818a] text-xs font-medium font-['Montserrat'] bg-transparent border-none focus:outline-none"
                >
                  <option value="" disabled selected>Select Priority</option>
                  <option value="high">High</option>
                  <option value="medium">Medium</option>
                  <option value="low">Low</option>
                </select>
              </div>
              button  
              <button
                class="w-[157px] h-11 p-2.5 bg-[#7f56d8] rounded inline-flex items-center justify-center gap-2.5 ml-3"
              >
                <div class="w-6 h-6 relative">
                  <div class="w-6 h-6 left-0 top-0 absolute">
                    <div class="w-6 h-6 left-[0px] absolute">
                    Optional inner content or icon -
                      <img src="../../../assets/message-edit.svg" alt="" />
                    </div>
                  </div>
                </div>
                <span
                  class="text-center text-white text-sm font-semibold font-['Montserrat']"
                  >New Inbox</span
                >
              </button>
            </div>
          </div>
           down 
          <div class="h-[50%] w-[100%] flex items-center">
            <div class="flex space-x-4">
               All Tickets Button 
              <button
                class="w-[102.20px] h-5 flex items-center justify-center bg-transparent border-none text-[#7f56d8] text-sm font-medium font-['Montserrat'] leading-[14px]"
              >
                <img src="../../../assets/sms.svg" alt="" />
                All Inbox
              </button>

               New Button 
              <button
                class="w-[63.09px] h-5 flex items-center justify-center bg-transparent border-none text-[#84818a] text-sm font-medium font-['Montserrat'] leading-[14px]"
              >
                <img src="../../../assets/sms-notification.svg" alt="" />
                New
              </button>

              On-Going Button
              <button
                class="w-[100.19px] h-5 flex items-center justify-center bg-transparent border-none text-[#84818a] text-sm font-medium font-['Montserrat'] leading-[14px]"
              >
                <img src="../../../assets/sms-tracking.svg" alt="" />

                On-Going
              </button>

              Resolved Button
              <button
                class="w-[95.18px] h-5 flex items-center justify-center bg-transparent border-none text-[#84818a] text-sm font-medium font-['Montserrat'] leading-[14px]"
              >
                <img src="../../../assets/sms-star.svg" alt="" />
                Resolved
              </button>
            </div>
          </div>
        </div>
         third 
        <div class="h-[70%] w-[100%]">
          <div class="w-[100%] h-[191px] border border-[#e7e7e7] rounded-[4px]">
            <div class="w-[100%] h-[50px] flex items-center">
              <div class="w-[287.74px] h-[22px] relative ml-5">
                <div
                  class="w-[22px] h-[22px] left-0 top-0 absolute bg-[#f7a433]/60 rounded-full"
                ></div>
                <div
                  class="w-[248.74px] h-[15.22px] left-10 top-[4.35px] absolute text-[#2e2c34] text-base font-semibold font-['Montserrat'] leading-[14px]"
                >
                  Ticket# 2023-CS123
                </div>
              </div>
            </div>
            <div class="w-[100%] h-[80px] flex justify-center flex-col">
              <div
                class="w-[411.93px] h-[15.22px] ml-5 text-[#2e2c34] text-sm font-medium font-['Montserrat'] leading-[14px]"
              >
                How to deposit money to my portal?
              </div>
              <div
                class="w-[964px] h-[30.43px] ml-5 mt-3 text-[#84818a] text-xs font-medium font-['Montserrat'] leading-[14px]"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.
              </div>
            </div>
            <div
              class="w-[100%] h-[50px] flex justify-between border-t border-[#e7e7e7]"
            >
              <div class="w-[200px] h-[50px] flex items-center">
                <img
                  class="w-7 h-7 ml-5 top-0 rounded-[30px]"
                  src="../../../assets/People.png"
                />
                <div
                  class="left-5 ml-2 text-[#84818a] text-sm font-medium font-['Montserrat'] leading-[14px]"
                >
                  John Snow
                </div>
              </div>
              <div class="w-[100px] h-[50px] flex items-center">
                <a
                  href="#"
                  class="text-[#7f56d8] text-sm font-bold font-['Montserrat'] underline leading-[14px]"
                >
                  Open Inbox
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
