<div class="bg-white p-6 rounded-lg h-[100%] shadow-md">
  <h2 class="text-xl font-bold mb-4">Student Account Management</h2>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="studentDetails">
      Account Details
    </label>
  </div>
  <div
    class="h-[50px] w-[100%] border border-red-700 gap-9 rounded-lg flex items-center justify-start"
  >
    <label class="block text-gray-700 font-bold ml-4" for="studentDetails">
      Index Number
    </label>
    <label class="block text-gray-700 font-bold" for="studentDetails">
      Course
    </label>
    <label class="block text-gray-700 font-bold" for="studentDetails">
      Department
    </label>
  </div>
</div>
