<div class="h-[100%] w-[100%] flex flex-col justify-between rounded-lg">
  <div class="h-[88%] w-[100%] bg-white rounded-lg">
    <div
      class="h-[13%] w-[100%] border-b-2 border-[##f1f0f0] rounded-t-lg bg-white flex justify-center items-center"
    >
      <div class="w-[50px] h-[50px] flex items-center justify-center">
        <img
          class="w-12 h-12 top-0 rounded-[30px]"
          src="../../../assets/People.png"
        />
      </div>
      <div
        class="w-[80%] h-[50px] text-[#84818a] flex flex-col pt-2 items-start text-xs pl-3 font-bold font-['Montserrat']"
      >
        Nicolas Kyereboah <br />
        <span class="font-medium">online</span>
      </div>

      <div class="w-[50px] h-[50px]"></div>
    </div>
  </div>
  <div
    class="h-[10%] w-[100%] bg-white rounded-lg flex items-center justify-center"
  >
    <div
      class="flex items-center border border-white rounded-lg p-2 h-10 w-[95%]"
    >
      <!-- File icon on the left -->
      <i class="fas fa-paperclip text-gray-500 mr-2"></i>

      <!-- Input field -->
      <input
        type="text"
        placeholder="Type your message..."
        class="flex-grow px-2 border-none outline-none"
      />

      <!-- Send icon on the right -->
      <i class="fas fa-paper-plane text-blue-500 ml-2 cursor-pointer"></i>
    </div>
  </div>
</div>
