<div class="w-full h-full flex justify-center items-center bg-indigo-950">
  <div class="h-[90%] w-[90%] bg-indigo-950">
    <!-- User Info -->
    <div class="w-full h-[66px] flex justify-center items-center mb-4">
      <img class="w-16 h-16 rounded-full" src="../../../assets/Frame 5.png" />
      <div class="ml-4 text-white">
        <span class="block text-xs font-semibold font-['Poppins']">
          {{ user.Username }}
        </span>
        <span class="block text-[10px] font-medium font-['Poppins']">
          {{ user.Email }}
        </span>
      </div>
    </div>

    <!-- Menu Items -->
    <div class="w-full flex flex-col gap-4">
      <div
        routerLink="/"
        routerLinkActive="active"
        class="menu-item w-[271px] h-[50px] pl-[18.88px] pr-[93px] py-2.5 bg-neutral-400/opacity-40 rounded-[15px] hover:bg-neutral-500/opacity-50 flex items-center cursor-pointer"
      >
        <img
          class="w-6 h-6 text-white mr-4"
          src="../../../assets/Frame.svg"
          alt="Dashboard Icon"
        />
        <span class="text-white text-xl font-medium font-['Poppins']"
          >Dashboard</span
        >
      </div>

      <div
        routerLink="/User Manager"
        routerLinkActive="active"
        class="menu-item w-[271px] h-[50px] pl-[18.88px] pr-[93px] py-2.5 bg-neutral-400/opacity-40 rounded-[15px] hover:bg-neutral-500/opacity-50 flex items-center cursor-pointer"
      >
        <img
          class="w-6 h-6 text-white mr-4"
          src="../../../assets/conversation.svg"
          alt="Conversation Icon"
        />
        <span class="text-white text-[18px] font-medium font-['Poppins']"
          >User Settings</span
        >
      </div>

      <div
        routerLink="/inbox"
        routerLinkActive="active"
        class="menu-item w-[271px] h-[50px] pl-[18.88px] pr-[93px] py-2.5 bg-neutral-400/opacity-40 rounded-[15px] hover:bg-neutral-500/opacity-50 flex items-center cursor-pointer"
      >
        <img
          class="w-6 h-6 text-white mr-4"
          src="../../../assets/inbox.svg"
          alt="Inbox Icon"
        />
        <span class="text-white text-xl font-medium font-['Poppins']"
          >Inbox</span
        >
      </div>
      <div
        routerLink="/profile"
        routerLinkActive="active"
        class="menu-item w-[271px] h-[50px] pl-[18.88px] pr-[93px] py-2.5 bg-neutral-400/opacity-40 rounded-[15px] hover:bg-neutral-500/opacity-50 flex items-center cursor-pointer"
      >
        <img
          class="w-6 h-6 text-white mr-4"
          src="../../../assets/inbox.svg"
          alt="Inbox Icon"
        />
        <span class="text-white text-xl font-medium font-['Poppins']"
          >Profile</span
        >
      </div>

      <!-- Logout Button -->
      <div
        (click)="logout()"
        class="menu-item w-[271px] h-[50px] pl-[18.88px] pr-[93px] py-2.5 bg-neutral-400/opacity-40 rounded-[15px] hover:bg-neutral-500/opacity-50 flex items-center cursor-pointer"
      >
        <img
          class="w-6 h-6 text-white mr-4"
          src="../../../assets/log-out.svg"
          alt="Logout Icon"
        />
        <span class="text-white text-xl font-medium font-['Poppins']"
          >Logout</span
        >
      </div>
    </div>
  </div>
</div>
